*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 .mid-section{
    width: 100%;
    height: 93vh;
    background-color: grey;
    display: flex;
}
.mid-section .sidebar{  
     width: 16%;
        height: 100%;
        flex:  0 0 16%;
        transition: all 0.3s ease-in-out;
        /* background-color: yellow; */
      
}
.sidebar.toggle{
    width: 0%;
    flex: 0 0 0%;
}
 .mid-section   .pages{
    width: 84%;
    height: 100%;
    flex:  0 0 84%;
    transition: all 0.3s ease-in-out;
    
    
}
.pages.toggle{
    width: 100%;
    flex: 0 0 100%;
}